.mobileDropDown {
  font-family: "Open Sans", san-serif;
  width: 100%;
  transition: var(--transition);
  /* z-index: 100; */
  overflow: scroll;
}

.mobileDropDown__backdrop {
  position: fixed;
  /* top: 33rem; */
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.mobileDropDown__backdrop + div {
  border-bottom: 1px solid var(--bottom-border-clr);
}
.mobileDropDown h3 {
  font-size: 0.9rem;
  background: ghostwhite;
  /* padding: .5rem 0; */
  padding: 1rem 1rem;
  margin-bottom: 0.3rem;
}

.mobileDropDown__nav + .mobileDropDown.moreDetails {
  margin-top: 1rem;
}

.mobileDropDown__moreDetails {
  overflow: auto;
}

.mobileDropDown__nav {
  background: #fff;
  /* padding-top: 2rem; */
}

.mobileDropDown__titleText {
  transition: var(--transition);
}
.mobileDropDown__titleText.shown {
  opacity: 1;
}
.mobileDropDown__titleText.hidden {
  opacity: 0;
}
.mobileDropDown__listItem:first-child {
  border-top: 1px solid rgb(206, 204, 204);
  margin-top: 0.5rem;
}
.mobileDropDown__listItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(209, 204, 207);
  cursor: pointer;
}

.mobileDropDown__listItem.account {
  justify-content: center;
}

.mobileDropDown__listItem svg {
  font-size: 0.9rem;
}

.mobileDropDown__listItem.account svg {
  font-size: 2.5rem;
  margin-right: 1rem;
}

/* .mobileDropDown__listItem > svg{
font-size: 2rem;
} */

@media (max-width: 309px) {
  .mobileDropDown__backdrop {
    top: 35rem;
  }
}
@media (min-width: 768px) {
  .mobileDropDown {
    display: none;
  }
}
