.tabSlide {
  position: relative;
}
.tabSlide__itemsContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  transform: translateX(0px) !important;
}

.tabSlide__itemsContainer .tabSlideCard {
  position: absolute;
  /* min-width: 300px; */
}

.tabSlide__controls {
  position: relative;
  left: -30px;
  top: 90px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  /* background-color: #fff; */
  width: 30px;
  opacity: 1;
  visibility: visible;
  transition: all 1s ease-in-out;
  /* height: 400px; */
}

.tabSlide__circleControls {
  font-size: 1.3rem !important;
}
.tabSlide__circleControls.lg {
  color: var(--lg-clr) !important;
}

.tabSlide__arrowControls {
  display: none;
}

.tabSlide__btn {
  background: transparent;
  position: relative;
  outline: none;
  border: none;
}

.tabSlide__arrowIcon {
  color: black;
  font-size: 2.5rem !important;
}

.tabSlide__Slides {
  transform: translateX(0px);
  transition: all 0.8s ease-in-out;
  height: auto;
}

@media (min-width: 1024px) {
  .tabSlide {
    background: #fff;
    padding: 0 4rem;
    /* overflow-x: hidden; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .tabSlide__controls {
    opacity: 0;
    visibility: hidden;
  }

  .tabSlide__arrowControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* width: 100%; */
    /* position: relative; */
    position: absolute;
    /* top: 150px; */
    /* top: 240px; */
    /* bottom: -20px; */
    top: 10px;
    z-index: 200;
    /* margin-top: 3rem; */
    /* margin-bottom: 1rem; */
  }

  .tabSlide__arrowIcon {
    z-index: 300;
    top: 140px;
    color: var(--lg-clr);
  }

  .tabSlide__btn:disabled {
    cursor: not-allowed;
  }
  .tabSlide__btn:disabled .tabSlide__arrowIcon {
    color: grey;
    cursor: not-allowed;
  }
  .tabSlide__itemsContainer .tabSlideCard {
    position: static;
    /* flex-basis: 300px; */
    flex: 1;
  }

  .tabSlide__itemsContainer {
    /* max-width: 920px; */

    overflow: hidden;
    /* height: 200px; */
    padding: 2rem;

    /* /* overflow-x: hidden;
    max-width: 700px; */
  }

  .tabSlide__Slides {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* transform: unset; */
  }

  /* .tabSlide__itemsContainer:hover {
    transform: translateX(-30%) !important;
  } */

  .tabSlide__itemsContainer .tabSlideCard {
    min-width: 300px;
    margin-left: 1rem;
    /* margin-right: 2rem; */
  }
}

@media (min-width: 1300px) {
  .tabSlide {
    /* width: 100%; */
    border-left: 159px solid transparent;
    border-right: 169px solid transparent;
    /* margin-bottom: 2rem; */
  }
}
