.itemsTab {
  width: 100%;
  max-width: 1400px;
  background-color: #fff;
  border-bottom: 1px solid rgb(209, 209, 209);
  /* box-shadow: -7px 5px 30px rgb(209, 207, 207); */
}

.itemsTab__container {
  /* max-width: 500px; */
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  /* background: black; */
  overflow-x: hidden;
  /* padding: 0 1rem; */
  /* flex-wrap: nowrap; */
}
.itemsTab__controlsContainer {
  position: absolute;
  background: #fff;
  z-index: 100;
  padding: 0.5rem;
  border: none;
  outline: none;
  left: 0;
  /* right: 0; */
  margin-right: 0.5rem;
}

.itemsTab__controlsContainer:last-child {
  right: 0;
  left: unset;
  margin-right: unset;
  margin-left: 0.5rem;
}
.itemsTab__controls {
  color: var(--lg-clr);
}

.itemsTab__controlsContainer:disabled {
  cursor: not-allowed;
}

.itemsTab__controlsContainer:disabled .itemsTab__controls {
  color: grey !important;
  cursor: not-allowed;
}
.itemsTab__items {
  display: flex;
  align-items: center;

  /* flex-wrap: nowrap; */
  /* max-width: 500px; */
  /* overflow-x: hidden; */
  /* overflow-x: auto; */
  transition: all 0.8s ease-in-out;
  padding: 0.2rem 0;
  /* transform: translateX(-10%); */
}

.mod {
  margin-left: 1.5rem;
  margin-right: 0.2rem;
}
.itemsTab__item {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block;
  color: rgb(146, 145, 145);
  font-weight: 900;
  min-width: 100px;
  text-align: center;
  padding: 1rem 0;
  transition: all 0.5s linear;
  /* flex-basis: 400px; */
  cursor: pointer;
}

.itemsTab__item.lg,
.itemsTab__item.lg:hover {
  color: var(--lg-clr);
}

.itemsTab__item.lg:hover {
  text-decoration: none;
}

.itemsTab__item:hover {
  color: #333;
  transform: scale(1.1);
  /* text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--lg-clr); */
  /* border-bottom: 2px solid var(--lg-clr); */
}
.itemsTab__item:nth-child(2) {
  min-width: 230px;
}

.itemsTab__item:not(:last-child) {
  margin-right: 0.8rem;
}

.itemsTab__item:nth-child(3),
.itemsTab__item:nth-child(2) {
  margin-right: unset;
}

@media (min-width: 627px) {
  .itemsTab__controlsContainer {
    display: none;
  }

  .itemsTab__items {
    transform: unset !important;
    margin-right: 3rem;
  }
  .itemsTab__item {
    min-width: unset;
    /* font-size: 0rem; */
  }

  .itemsTab__item:nth-child(1) {
    /* min-width: unset; */
  }
  .itemsTab__item:nth-child(2) {
    margin-right: 0.8rem;
  }

  .itemsTab__item:nth-child(3) {
    margin-right: 1.5rem;
  }
}

@media (min-width: 320px) {
  .mod {
    margin-left: 3rem;
  }
}

@media (min-width: 779px) {
  .itemsTab__item {
    min-width: unset;
    font-size: 1rem;
  }

  .itemsTab__item:hover {
    transform: unset;
  }
}
