.mainSlide {
  position: relative;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  /* margin-bottom: calc(20rem + 20vw); */
  margin-bottom: 22rem;
  transition: var(--transition);
}

.mainSlide__circleControls {
  position: absolute;
  /* bottom: 1000px; */
  /* top: 390; */
  /* right: 40px;
  left: 140px; */
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 1.4rem; */
}

.mainSlide__circleIcon {
  font-size: 1rem !important;
  color: rgb(51, 50, 50);
  /* color: #fff; */
  cursor: pointer;
}

.mainSlide__circleIcon.lg {
  color: var(--lg-clr);
}

.prev,
.next {
  position: absolute;
  /* top: 100px; */
  transform: translateY(-50%);
  background: transparent;
  color: var(--lg-clr);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  z-index: 70;
  opacity: 0;
  outline: none;
  border: none;
}

.section-center {
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

@media (min-width: 431px) {
  .mainSlide {
    margin-bottom: calc(21rem + 10vw);
  }
}
@media (min-width: 566px) {
  .mainSlide {
    margin-bottom: calc(22rem + 20vw);
  }
}
@media (min-width: 768px) {
  .prev {
    margin-left: 0.5rem;
  }

  .next {
    margin-right: 1.2rem;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;

    opacity: 1;
    top: calc(120px + 10vw);
    transition: var(--transition);
  }
}

.prev > svg,
.next > svg {
  font-size: 3.5rem !important;
}

@media (min-width: 788px) {
  .prev,
  .next {
    top: calc(120px + 12.5vw);
  }
}
@media (min-width: 999px) {
  .prev,
  .next {
    top: calc(150px + 12.5vw);
  }
}
@media (min-width: 999px) {
  .prev,
  .next {
    top: 360px;
  }
}
@media (min-width: 1000px) {
  .prev,
  .next {
    display: none;
  }
}
@media (min-width: 1300px) {
  .prev,
  .next {
    top: 300px;
    display: block;
  }

  .mainSlide {
    margin-bottom: 50rem;
  }
}
@media (min-width: 1400px) {
  .prev,
  .next {
    top: 360px;
  }
}
