.navMoreDetails {
  display: none;
  border-bottom: unset;
  /* position: relative; */
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background-color: #fff;
}

.navMoreDetails.isShown {
  display: block;
}

.navMoreDetails.isHidden {
  display: none;
}

@media (min-width: 768px) {
  .navMoreDetails {
    display: grid;
    padding: 1rem 2rem;
    /* background: ghostwhite; */
    transition: var(--transition);
    /* border: 1px solid black; */
  }

  .navMoreDetails.showBorder {
    /* border-bottom: 1px solid rgb(204, 123, 204); */
  }
  .navMoreDetails .details__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .navMoreDetails .details__mainTitle {
    margin: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }

  .navMoreDetails .details__mainListItem + .details__mainListItem {
    margin-top: unset;
  }
}

@media (min-width: 1326px) {
  .navMoreDetails.support {
    margin-top: unset;
  }
}
