.navMoreDetails {
  display: none;
  border-bottom: unset;
  /* position: relative; */
  position: absolute;
  z-index: 200;
  left: 0;
  right: 0;
  background-color: #fff;
  max-width: 1300px;
  /* margin-left: 0.6rem; */
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0.11rem ridge var(--lg-clr);
  border-top: 0.11rem ridge transparent;
  transition: var(--transition);
}

.navMoreDetails.isShown,
.navMoreDetails.isHidden {
  display: none;
}

@media (min-width: 768px) {
  .navMoreDetails {
    display: grid;
    padding: 1rem 2rem;
    /* background: ghostwhite; */

    /* border: 1px solid black; */
  }
  .navMoreDetails.isShown {
    display: block;
  }

  .navMoreDetails.isHidden {
    display: none;
  }
  .navMoreDetails .details__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .navMoreDetails .details__mainTitle {
    margin: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }

  .navMoreDetails .details__mainListItem + .details__mainListItem {
    margin-top: unset;
  }
}

@media (min-width: 1326px) {
  .navMoreDetails.support {
    margin-top: unset;
  }
}

@media (min-width: 1400px) {
  .navMoreDetails {
    margin: unset;
    margin-left: 3rem;
  }
}
