nav {
  width: 100%;
  border-bottom: 1px solid var(--bottom-border-clr);
  background-color: #fff;
}

.navbar__desktop,
.navbar__mobile {
  transition: var(--transition);
}
.navbar__mobileLinks {
  display: flex;
}
.navbar__accountIcon {
  margin-right: 1.5rem;
}
.navbar__mobileNavLinks {
  width: 100%;
  display: block;
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
  color: #333;
}

.navbar__mobileNavLinks:nth-child(2) {
  background-color: var(--lg-clr);
  color: #fff;
}

.navbar__searchIcon {
  transition: var(--transition);
}

.navbar__searchIcon.inView {
  color: var(--lg-clr);
}
.navbar__searchIcon.shown {
  opacity: 1;
}

.navbar__searchIcon.hidden {
  opacity: 0;
}
.navbar__mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

.navbar__mobileNav > div > svg {
  padding-right: 0.5rem;
}
.navbar__mobileNav svg {
  font-size: 2.2rem !important;
}

.navbar__mobileNav img {
  width: 50px;
  object-fit: contain;
}

/* DESKTOP STYLES */
.navbar__desktop {
  display: none;
}

.navbar__productItems {
  display: none;
}
.navbar__supportLink,
.navbar__productLink {
  /* padding: 1rem 0; */
  width: 100%;
  max-width: 100%;
  display: block;
}

.navbar__Item {
  padding: 0 0 1rem;
  width: 100%;
  display: block;
  /* font-size: 1.2rem; */
}

/* .navbar__productLink:hover, */

@media (min-width: 768px) {
  .navbar__mobile {
    display: none;
  }

  .navbar__desktop {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    padding-top: 0.2rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
  }

  .navbar__desktop > div {
    padding-left: 1rem;
  }

  .navbar__Item {
    margin-top: 1.3rem;
  }

  .navbar__Item.lg {
    color: var(--lg-clr);
  }
  .navbar__topLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(218, 211, 211);
    padding-bottom: 1rem;
  }

  .navbar__topLinks a.align-end {
    text-align: right;
  }

  .navbar__bottomLinks {
    /* margin-top: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    padding-top: 0.2rem;
    width: 100%;
  }

  .navbar__supportLink {
    margin-left: -1.8rem;
  }

  .navbar__bottomLeft {
    display: flex;
    align-items: center;
  }

  .navbar__Links {
    width: 100%;
    display: inline-block;
    min-width: 110px;
    border-bottom: 3px solid transparent;
  }

  .navbar__productAndSupport {
    display: flex;
    align-items: center;
  }

  .navbar__Links:hover {
    color: var(--lg-clr);
  }

  .navbar__desktop > div {
    display: flex;

    width: 100%;
    flex-direction: column;
  }
  .navbar__desktop img {
    width: 100px;
    margin-top: 0.5rem;
  }

  .align-end {
    margin-left: auto;
  }
}

@media (min-width: 1326px) {
  .navbar__productItems {
    display: flex;

    padding: 1rem 0;
    align-items: center;

    min-width: 700px;
  }
  .navbar__Links {
    /* max-width: 149px; */
    max-width: 100%;
    margin-right: -1.5rem;
    text-align: center;
    transition: var(--transition);
  }

  .navbar__Links:first-child {
    min-width: 210px;
    text-align: left;
  }

  .navbar__productLink {
    display: none;
  }
  .navbar__Item {
    margin-top: unset;
  }

  .navbar__Links:hover {
    border-bottom: 3px solid var(--lg-clr);
  }

  .navbar__bottomRight {
    margin-top: -1.5rem;
  }

  .navbar__desktop img {
    margin-top: -0.5rem;
  }

  .navbar__supportLink {
    margin-left: 2rem;
  }

  .navbar__desktop {
    margin-bottom: -0.9rem;
  }
}
