.lgCardItem {
  width: 100%;
  margin-bottom: 2rem;
  transition: var(--transition);
  background: #fff;
  /* border: 1px solid black; */
}

.lgCardItem__img {
  width: 100%;
  object-fit: contain;
}

.lgCardItem__more {
  text-align: center;
  margin-top: 0.8rem;
}

.lgCardItem__title {
  font-family: "Open sans", sans-serif;
}

.lgCardItem__learnMore {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-size: 0.9rem;
  margin-top: 0.6rem;
}

.lgCardItem__icon {
  font-size: 0.7rem !important;
}

.lgCardItem__text {
  padding-bottom: 0.1rem;
}
.lgCardItem__text:hover {
  /* text-decoration: underline; */
  border-bottom: 1px solid grey;
}

@media (min-width: 768px) {
  .lgCardItem {
    margin-bottom: unset;
    margin-right: 1rem;
  }

  .lgCardItem:last-child {
    margin-right: unset;
  }

  .lgCardItem__more {
    text-align: left;
  }

  .lgCardItem__learnMore {
    justify-content: flex-start;
  }
}
