*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #333;
  --bottom-border-clr: rgb(218, 211, 211);
  --lg-clr: #a50034;
  --transition: all 0.3s linear;
}

.App {
  max-width: 1400px;
  width: 100%;
  margin-left: 0.05rem;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.App svg {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
